@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg: #fff;
    --a-color: #221a50;
    --btn-bg-color: #e72929;
    --time: .3s;
    --radius:2px;

    --w-hover-color:#ff5252;

    --title-color:rgb(23, 29, 66);
    --info-color:rgb(39, 39, 59);
    --ni-info-color:rgb(59, 59, 71);
}

body{
    width: 100%;
    background-color: var(--bg);
   
}

*{
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}


/* google fonts icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* google fonts icons  end*/




/* hero */
.hero-swiper {
    width: 100%;
    height: 90vh;
}

.hero-swiper-slide-content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-swiper-slide-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    filter: brightness(0.3); /* Aplica un filtro de brillo para oscurecer la imagen */
    z-index: -1; /* Coloca el contenedor detrás del contenido */
}
.hero-swiper-slide{
width: 100%;
height: 100%;
}
.hero-swiper-slide-title{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
}

.hero-swiper-slide-info{
    text-transform: uppercase;
    font-size: 1em;
    padding: 20px 0px;
}

.hero-swiper-slide-a{
    color: #fff;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: var(--radius);
    border: 1px solid #fff;
}
.hero-swiper-slide-a:hover{
    color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);

    transition: all var(--time);
}


.swiper-button-prev::after,
.swiper-button-next::after{
    color: #fff !important;
    font-weight: 900 !important;
    font-size: 1em !important;
}
/* hero end */



/* header */
.header{
    z-index: 1011211212;
    position: sticky;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    top: 0px;
}

.header-logo{
    width: 200px;
}

.header-logo-img{
    width: 70%;
}

.header-btns{
    display: none;
}

.header-links{
    display: flex;
}
.header-links-a{
    font-size: .9em;
    color: var(--info-color);
    background-color: #fff;
    display: flex;
    padding: 14px 14px; 
    margin: 2px;
    font-weight: 700;

    transition: all var(--time);
}

.header-links-a:first-child{
    background-color: var(--btn-bg-color);
    color: #fff;
}

.header-links-a:first-child:hover{
    color: #fff;
    background-color: var(--w-hover-color);
}
.header-links-a:hover{
    color: var(--w-hover-color);
}

/* header end */





/* .home-qualities start */

.home-qualities{
    margin: 30px 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.home-qualities-qualitie{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    margin: 0px 20px;
    transition: transform .3s;
}
.home-qualities-qualitie:hover{
    transform: scale(1.01);
}

.home-qualities-qualitie-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}
.home-qualities-qualitie-img span{
    font-size: 4em;
    color: rgb(39, 206, 235);
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}
.home-qualities-qualitie-text{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.home-qualities-qualitie-text-title{
    text-transform: uppercase;
    color: rgb(18, 18, 22);
    font-size: 1.6em;
    font-weight: 900;
}
.home-qualities-qualitie-text-info{
    font-size: 1.2em;
    color: rgb(25, 29, 66);
}


.news-section{
    padding: 30px 0px;
}
/* .home-qualities end */



/* frequent_questions */

.frequent_questions-box{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
}
.frequent_questions-img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 30px 0px;
}
.frequent_questions-img img{
    height: 400px;
}
.frequent_questions-text{
    width: 50%;

}
.frequent_questions-text-title{
    color: var(--title-color);
    font-size: 3em;
    font-weight: 900;
}
.frequent_questions-text-info{
    font-weight: 300;
    font-size: 1.2em;
    color: var(--ni-info-color);
    padding: 10px 0px;
}
.frequent_questions-text-ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.frequent_questions-text-ul-li{
    
}

.frequent_questions-text-ul-li span{
    color: var(--btn-bg-color);
    font-size: 1.3em;
    margin-right:5px ;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}
.frequent_questions-text-ul-li-title{
    color: var(--info-color);
    display: flex;
    font-weight: 900;
    margin: 2px 0px;
    padding: 10px;
    background-color: rgb(245, 207, 207);
    cursor: pointer;
    width: 100%;
}
.frequent_questions-text-ul-li-info{
    display: flex;
    color: var(--ni-info-color);
    height: 0px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px 10px;
    transition: all var(--time) ;
}
.frequent_questions-text-ul-li-info-open{
    padding: 10px;
    height: max-content;
}

/* frequent_questions end */




/* news */

.normal-title{
    color: rgb(35, 35, 46);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 10px 30px;
}
.filter-container{
    padding: 20px;
}
.filters-open{
    display: flex !important;
}
.filters{
    background-color: #fafafa;
    display: none;
    width: max-content;
    padding: 20px;
    position: absolute;
    flex-direction: column;
}
.filter-button:hover{
    background-color: rgb(241, 241, 241);
}
.filter-button{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: rgb(97, 97, 97);
}
.filters-title{
    color: rgb(20, 20, 20);
    font-weight: 700;
}
.filters a{
    color: rgb(97, 97, 97)  ;
    padding: 1px 0px;
    padding-left: 10px;
}
.filters a:hover{
    text-decoration: underline;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.pagination-num{
}
.pagination-arrow{
    margin: 0px 10px;
}
.pagination-arrow a{
    padding: 0px 4px !important;
    border-radius: 10px;
}
.pagination ul li{
    height: 30px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
}
.pagination ul li a:hover{
    background-color: rgb(235, 235, 235);

}
.pagination ul li a{
    color: rgb(65, 65, 65);
    background-color: rgb(214, 214, 214);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pagination .active a:hover{
    background-color: rgb(114, 206, 248);

}
.pagination .active a{
    box-shadow: 0px 0px 10px rgb(91, 195, 243) ;
    color: rgb(20, 20, 20);
    background-color: rgb(91, 195, 243);
}
.news-container {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar horizontalmente */
}

.news-item {
    max-width: 260px; /* Ancho máximo para evitar que se bugee */
    width: 100%; /* Toma el ancho máximo permitido */
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.view-more-news{
    color: rgb(20, 20, 20);
    font-size: .8em;
    padding: 0px 20px;
}
.view-more-news:hover{
    text-decoration: underline;
    color: rgb(30, 30, 30);

}

.news-item:hover > .news-title{
    text-decoration: underline;
}
.news-img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.news-title {
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
    margin: 4px 0px;
}
.news-content {
    font-size: .8em;
    color: #555;
    line-height: 1.4;
    margin-bottom: 15px;
}
.news-info {
    font-size: .8em;
    color: var(--info-color);
    margin-top: auto; /* Coloca este elemento siempre al final */
}

.read-more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #0056b3;
}

/* news end */



/* new */
.new-container{
    padding: 10px 5%;
    display: flex;
    background-color: rgb(243, 243, 243);
}
.new-item{
    width: 70%;
    padding: 0px 20px;
}

.new-title{
    font-size: 2.3em;
    letter-spacing: 1px;
    padding:40px  0px ;
}
.new-img{
    width: 100%;
}
.new-content{
    padding: 20px 0px;
    white-space: pre-line;
    color: rgb(20, 20, 20);
    font-size: 1em;
    letter-spacing: 1px;
}   
.new-info{
    color: rgb(97, 97, 97);
    font-style: italic;
    font-size: .9em;
}

.new-views{
    display: flex;
    align-items: center;
}
.new-views span{
    padding-right: 5px;
    color: rgb(97, 97, 97);
}

.more-news{
    width: 30%;
    padding: 10px 20px;
    padding-top: 40px;
}
.more-news-title{
    padding: 10px 0px;
    font-size: 1.4em;
    font-weight: 800;
}

.more-news-item-2:hover{
    filter: brightness(1.1);
}
.more-news-item-2{
    transition: filter var(--time);
    padding: 0px !important;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.more-news-item-2 
.more-news-item-title{
    padding: 0px 0px !important;
}
.more-news-item-2 a,
.more-news-item-2 p{
    width: 100%;
    color: #fff !important;
    margin: 0px ;
    padding: 5px 10px  ;
    display: flex;
    background-color: rgba(0, 0, 0, 0.596);
}
.more-news-item{
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0px;
}

.more-news-item-title{
    padding: 5px 0px;
}
.more-news-item-title p{
    color:rgb(20, 20, 20) ;
}
.more-news-item:hover > .more-news-item-title{
    text-decoration: underline;
}
.more-news-item-info{
    color: rgb(49, 49, 49);
    font-size: .8em;
}


.volver-btn{
    background-color: rgb(243, 243, 243);
    padding: 10px 30px;
}
.volver-btn a{
        color: rgb(20, 20, 20);       
        padding: 5px;
        transition: color var(--time);
}
.volver-btn a:hover{
    color: var(--w-hover-color);
}
/* new end */




/* Estilos para el footer */
.footer {
    background-color: #4c4a53; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    padding: 40px 20px; /* Espaciado interno del footer */
    padding-bottom: 100px;
    font-family: Arial, sans-serif; /* Tipo de fuente del footer */
    position: relative; /* Para que el footer-credits se posicione correctamente */
}

/* Estilos para el contenido del footer */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para el logo del footer */
.footer-logo img {
    width: 100px; /* Ancho del logo */
}

/* Estilos para los enlaces de navegación del footer */
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer-links ul li:last-child {
    margin-right: 0;
}

.footer-links ul li a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none;
    transition: color var(--time) ease; /* Transición suave del color del texto */
}

.footer-links ul li a:hover {
    color: var(--w-hover-color); /* Cambio de color al pasar el ratón sobre los enlaces */
}

/* Estilos para los íconos de redes sociales */
.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li:last-child {
    margin-right: 0;
}

.footer-social ul li a {
    color: #fff; /* Color de los íconos de redes sociales */
    text-decoration: none;
    transition: color var(--time) ease; /* Transición suave del color de los íconos */
}

.footer-social ul li a:hover {
    color: var(--w-hover-color); /* Cambio de color al pasar el ratón sobre los íconos */
}

/* Estilos para la información de derechos de autor */
.footer-info p {
    margin: 0;
    text-align: center;
}

/* Estilos para los créditos del footer */
.footer-credits {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.footer-credits p {
    margin: 5px 0;
}

.footer-credits a {
    color: #fff;
    text-decoration: underline;
    transition: color var(--time) ease;
}

.footer-credits a:hover {
    color: var(--w-hover-color);
}


