@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
:root{
    --bg: rgb(255, 255, 255);
    --a-color: #221a50;
    --btn-bg-color: #D52D2c;
    --time: .3s;
    --radius:2px;
    --icon-color:#D65151;

    --w-hover-color:#ff5252;

    --title-color:rgb(35, 35, 46);
    --info-color:rgb(39, 39, 59);
    --ni-info-color:rgb(70, 70, 70);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Transparente */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); /* Transparente */
}


html {
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: var(--bg);
   
}
.container-fluid{
}

*{
    box-sizing: border-box;
    /* font-family: "Public Sans", sans-serif; */
    font-family: "Poppins", sans-serif;

    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.location-msg{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px 80px;
    color: #0c0c0c;
}

.location-msg a i{
    padding: 0px 3px;
}
.location-msg a{
    display: flex;
    align-items: center;
    color: rgb(66, 66, 66);
    font-weight: 500;
    transition: all var(--time);
}
.location-msg a:hover{
    color: #943e3e;
}

.location-msg b{
    font-weight: 500;
}

.location-msg strong{
    padding: 0px 10px;
}


/* google fonts icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* google fonts icons  end*/




/* hero */
.hero-container{
    background-image: url(/antwork/public/images/index/bg-3.svg);
    background-size: cover;
    background-position: bottom;
    padding: 40px 140px;
    padding-bottom: 220px;
    display: flex;
    justify-content: space-between;
}
.hero-img{
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 100%;
    }
}
.hero-text{
    max-width: 600px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.hero-title{
    color: rgb(35, 35, 46);
    font-size: 55px;

    span{
        color: var(--btn-bg-color);
    }
}

.hero-sub-title{
    font-size: 25px;
    color:rgb(58, 58, 63);
}
.hero-info{
    font-size: 20px;
    color: #535353;
    font-weight: 500;
}
.hero-link{
    display: flex;
    font-weight: 600;
    font-size: 1em;
    width: max-content;
    padding: 15px 36px;
    text-transform: capitalize  ;
    border-radius: 25px;
    transition: all var(--time);
    background: rgb(213,45,44);
    background: -moz-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52d2c",endColorstr="#f65654",GradientType=1);
    color: #fff;
}

.hero-link:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
}

/* hero end */



/* infop text start*/
.info-text{
    background-color: #FBE1D9;
    padding: 0px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-text h2{
    text-transform: none;
    color: rgb(35, 35, 46);
    font-size: 28px;
}

.info-text p{
    width: 80%;
    font-size: 20px;
    color: rgb(80, 74, 74);
    font-weight: 500;
}
/* infop text end */


/* about */
.about-page-text{
    padding: 20px 80px;
}
.about-page-text img{
    width: 100%;
    margin: auto;
    height: unset;
}
.about-container{
    background-image: url(/antwork/public/images/index/bg-4.svg);
    background-size: cover;
    background-position: top;
    transition: opacity var(--time) ease, transform 1s ease;
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
    padding-top: 180px;
}
.about-img{
    transition: opacity var(--time) ease, transform 1s ease;
}

.about-img{
    max-width: 250px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    img{
        height: max-content;
        width: 100%;
    }
}


.about-text{
    max-width: 600px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
    gap: 10px;
}

.about-sub-title{
    color:rgb(58, 58, 63);
    font-size: 25px;

}
.about-title{
    font-size: 45px;
    color: rgb(35, 35, 46);
    span{
        color: var(--btn-bg-color);
    }
}
.about-info{
    color: rgb(80, 74, 74);
    font-size: 1.2em;
    font-weight: 500;
}

.about-link{
    display: flex;
    font-weight: 600;
    font-size: 1em;
    width: max-content;
    padding: 15px 36px;
    text-transform: capitalize  ;
    border-radius: 25px;
    transition: all var(--time);
    background: rgb(213,45,44);
    background: -moz-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52d2c",endColorstr="#f65654",GradientType=1);
    color: #fff;
}

.about-link:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
}
/* about end */



/* services */
.services-container{
    background-image: url(/antwork/public/images/index/bg-1.svg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
    padding-bottom: 400px;
}
.services-text{
    max-width: 650px;
}
.services-title{
    padding-bottom: 10px;
    font-size: 35px;
    color: rgb(35, 35, 46);
    span{
        color: var(--btn-bg-color);
    }
}
.services{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service{
    display: flex;
}

.service-icon{
    width: 150px;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;

    span{
        color: var(--btn-bg-color);
        font-size: 60px;
    }
}

.service-text{
    display: flex;
    flex-direction: column;
}

.service-title{
    font-size: 25px;
    color: rgb(35, 35, 46);
}
.service-info{
    font-size: 20px;
    font-weight: 500;
    color: rgb(80, 74, 74);
}

.services-img{
    max-width: 340px;

    img{
        width: 100%;
        height: max-content;
    }
}
/* services endd */






/* wsp start */
.wsp-btn-box{
    color: #fff;
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 101121111;
}

.wsp-btn-box a{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.096);
    background-color:#25d366;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--time);
}

.wsp-btn-box a:hover{
    transform: scale(1.1);
}
.wsp-btn-box a i{
    font-size: 2em;
    padding-right: 6px;
}
/* wsp end */


/* header */

.header{
    z-index: 1011211212;
    width: 100%;
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 140px;
    background-color: rgb(247, 247, 247);
    top: -1110px;
    transition: all .5s;
    backdrop-filter: blur(5px);
}

#header.active{
    height: 70px;
    top: 0px;
    position: sticky;
}

.header-logo{
    width: 200px;
}

.header-logo-img{
    height: 50px;
}


.header-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-actions a{
    background: rgb(213,45,44);
    background: -moz-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52d2c",endColorstr="#f65654",GradientType=1);
    border-radius: 20px;
    padding: 5px 23px;
    color: #fff;
    transition: all var(--time);
}
.header-actions a:hover{
    filter: brightness(1.1);
    transform: scale(1.05);
}
.header-actions a i{
    color: #f3f3f3;
}

.header-btns{
    display: none;
}

.header-links{
    display: flex;
}
.header-links-a{
    font-size: .9em;
    color: #2c2c2c;
    display: flex;
    padding: 7px 14px; 
    margin: 2px;
    font-weight: 600;   
    transition: all var(--time);
}

.header-links-a:hover{
    color: #ff3c3c;
}

/* header end */




.border-separator{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.border-separator-border{
    width: 60%;
    height: 3px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.103);
}

.xl-title{
    text-align: center;
    color: rgb(189, 189, 189);
    font-weight: 900;
    font-size: 4em;
    padding: 200px 0px;
}

.big-title{
    color: var(--title-color);
    font-weight:700;
    font-size: 1.5em;
    padding: 10px 30px;
    padding-top: 20px;  
}


.span-big-b-border{
    position: relative;
    box-shadow: inset 0 -.7em 0 0 rgb(245, 177, 177);

}


.span-big-b-border-dark{
    position: relative;
    box-shadow: inset 0 -.7em 0 0 rgb(194, 27, 27);

}

.centred{
    text-align: center;
}

/* qualities */
.qualities-container{
    padding: 70px 140px;
    padding-top: 350px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: top;
    background-image: url(/antwork/public/images/index/bg-2.svg);

    .container-text{
        max-width: 650px;

        .title{
            padding-bottom: 10px;
            font-size: 35px;
            color: rgb(35, 35, 46);
            span{
                color: var(--btn-bg-color);
            }
        }


        .qualities{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .qualitie{
                display: flex;
                align-items: center;

                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: max-content;
                    padding-right: 20px;

                    span{
                        font-size: 60px;
                        color: var(--btn-bg-color);
                    }
                }

                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    .title{
                        font-size: 25px;
                        color: rgb(35, 35, 46);
                        font-weight: 700;
                        padding-bottom: 0px;
                    }

                    .info{
                        font-size: 20px;
                        font-weight: 500;
                        color: rgb(80, 74, 74);
                    }
                }
            }
        }
    }

    .container-imgs{
        max-width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img{
            width: 100%;
        }

    }
}
/* qualities end */
/* news ads */

.news-ads{
    display: flex;
    justify-content: space-between;
    padding: 40px 140px;
    padding-top: 180px;

    
    .img{
        max-width: 450px;
        display: flex;
        justify-content:center;
        align-items: center;
        
        img{
            height: max-content;
            width: 100%;
            transform: scaleX(-1);
        }
    }

    .text{
        max-width: 600px;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0px;
        gap: 10px;

        .sub-title{
            color:rgb(58, 58, 63);
            font-size: 25px;
        
        }
        .title{
            font-size: 45px;
            color: rgb(35, 35, 46);
            span{
                color: var(--btn-bg-color);
            }
        }
        .info{
            color: rgb(80, 74, 74);
            font-size: 1.2em;
            font-weight: 500;
        }
        
        .link{
            display: flex;
            font-weight: 600;
            font-size: 1em;
            width: max-content;
            padding: 15px 36px;
            text-transform: capitalize  ;
            border-radius: 25px;
            transition: all var(--time);
            background: rgb(213,45,44);
            background: -moz-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
            background: -webkit-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
            background: linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52d2c",endColorstr="#f65654",GradientType=1);
            color: #fff;
        }
        
        .link:hover{
            filter: brightness(1.1);
            transform: scale(1.05);
        }
        
    }
}

/* news ads end */


/* frequent_questions */

.frequent_questions-box{
    padding: 30px 140px;
    display: flex;
    justify-content: space-between;

    .text{
        width:100%;

        .fq-header{
            display: flex;
            align-items: center;

            .img{
                width: 600px;
    
                img{
                    width: 100%;
                }
            }
        
            .desc{
                padding: 0px 0px;

                .title{
                    font-size: 45px;
                    color: rgb(35, 35, 46);
                    span{
                        color: var(--btn-bg-color);
                    }
                }

                .info{
                    color: rgb(80, 74, 74);
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }

                
        .ul{
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;

            .li{

                span{
                    color: var(--btn-bg-color);
                    font-size: 1.3em;
                    margin-right:5px ;
                    font-variation-settings:
                    'FILL' 0,
                    'wght' 700,
                    'GRAD' 0,
                    'opsz' 24
                }
                .frequent_questions-text-ul-li-title:hover{
                    filter: brightness(1.1);
                }
                .frequent_questions-text-ul-li-title{
                    color: var(--title-color);
                    display: flex;
                    transition: all var(--time);
                    font-size: 20px;
                    align-items: center;
                    font-weight: 600;
                    margin: 0px 0px;
                    margin-top: 4px;
                    padding: 10px;
                    background-color: rgb(248, 220, 220);
                    cursor: pointer;
                    width: 100%;
                    border-radius: 20px;
                }
                .frequent_questions-text-ul-li-info{
                    color:rgb(49, 49, 49);
                    font-weight: 500;
                    background-color: rgb(248, 220, 220);
                    border-radius:20px;
                    height: 0px;
                    font-size: 20px;
                    overflow: hidden;
                    padding: 0px 20px;
                    transition: all var(--time) ;
                    
                    a{
                        text-decoration: underline;
                    }
                }
    
                
    
                .frequent_questions-text-ul-li-title-open{
                    border-radius: 20px 20px 0px 0px ;
                }
                .frequent_questions-text-ul-li-info-open{
                    border-radius: 0px 0px 20px 20px;
                    padding: 10px 20px;
                    padding-bottom: 20px;
                    margin: 0px 0px;
                    margin-bottom: 10px;
                    height: max-content;
                }
            }


            

        }
        
    }
}
/* frequent_questions end */




/* news */

.normal-title{
    color: rgb(35, 35, 46);
    font-weight: 600;
    font-size: 1.2em;
    padding: 10px 80px;
}
.filter-container{
    padding: 20px 80px;
}
.filters-open{
    display: flex !important;
}
.filters{
    z-index: 1;
    box-shadow: 0px 0px 5px rgba(0, 1, 2, 0.144) ;
    background-color: #fafafa;
    display: none;
    border-radius: 10px;
    width: max-content;
    padding: 20px;
    position: absolute;
    flex-direction: column;
}
.filter-button:hover{
    background-color: rgb(241, 241, 241);
}
.filter-button{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: none;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    width: max-content;
    color: rgb(97, 97, 97);
    border-radius: 20px;
}
.filters-title{
    color: rgb(20, 20, 20);
    font-weight: 600;
}
.filters a{
    color: rgb(97, 97, 97)  ;
    padding: 1px 0px;
    padding-left: 10px;
}
.filters a:hover{
    text-decoration: underline;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pagination ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.pagination-num{
}
.pagination-arrow{
    margin: 0px 10px;
}
.pagination-arrow a{
    padding: 0px 4px !important;
    border-radius: 10px;
}
.pagination ul li{
    height: 30px;
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
}
.pagination ul li a:hover{
    background-color: rgb(235, 235, 235);

}
.pagination ul li a{
    color: rgb(65, 65, 65);
    background-color: rgb(214, 214, 214);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.pagination .active a:hover{
    background-color: rgb(114, 206, 248);

}
.pagination .active a{
    box-shadow: 0px 0px 10px rgb(91, 195, 243) ;
    color: rgb(20, 20, 20);
    background-color: rgb(91, 195, 243);
}
.news-header{
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    align-items: center;
}
.news-header h2{
    padding: 20px 0px;
}
.news-search-container{
    display: flex;
    height: 40px;
    width: 300px;
    align-items: center;
}
.news-search-container .search-input{
    border: 1px solid rgb(199, 199, 199);
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 10px 0px 0px 10px;
}
.news-search-container .search-btn{
    height: 100%;
    width: 50px;
    border: 1px solid rgb(19, 129, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 129, 233);
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    transition: all var(--time);
}
.news-search-container .search-btn span{
    font-size: 1.4em;
}

.news-search-container .search-btn:hover{
    filter: brightness(1.3);
}
.search-results-p{
    padding: 10px 80px;
}
.news-container {
    padding-bottom: 30px;
    padding: 0px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Centrar horizontalmente */
}

.news-item {
    max-width: 234px; /* Ancho máximo para evitar que se bugee */
    width: 100%; /* Toma el ancho máximo permitido */
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
}
.view-more-news{
    color: rgb(20, 20, 20);
    font-size: .8em;
    padding: 0px 20px;
}
.view-more-news:hover{
    text-decoration: underline;
    color: rgb(30, 30, 30);

}

.news-item:hover > .news-title{
    text-decoration: underline;
}
.news-img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.news-title {
    color: var(--title-color);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 1.1em;
    margin: 4px 0px;
}

.news-title span{
    font-family: "Roboto Serif", serif !important;
    font-weight: 900 !important;
    font-size: 1.13em;
    color: black;
}
.news-content {
    font-size: .8em;
    color: #555;
    line-height: 1.4;
    margin-bottom: 15px;
}
.news-info {
    font-size: .8em;
    color: var(--info-color);
    margin-top: auto; /* Coloca este elemento siempre al final */
}

.read-more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #0056b3;
}

/* news end */



/* new */
.new-container{
    padding: 10px 80px;
    display: flex;
}
.new-item{
    background-color: #fff;
    width: 70%;
    padding: 0px 0px;
}

.new-title{
    font-family: "Roboto Serif", serif;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: 1px;
    padding:40px  0px ;
}

.new-img{
    width: 100%;
}
.new-content{
    font-family: "Roboto Serif", serif;
    padding: 20px 0px;
    white-space: pre-line;
    color: rgb(20, 20, 20);
    font-size: 1em;
    letter-spacing: 1px;
}   
.new-content a{
    font-family: "Lora", serif;
    text-decoration: underline;
}

.new-info{
    color: rgb(97, 97, 97);
    font-style: italic;
    font-size: .9em;
}

.new-views{
    display: flex;
    align-items: center;
}
.new-views span{
    padding-right: 5px;
    color: rgb(97, 97, 97);
}

.more-news{
    width: 30%;
    padding: 10px 20px;
    padding-top: 40px;
}
.more-news-title{
    padding: 10px 0px;
    font-family: "Lora", serif;
    font-size: 1.4em;
    font-weight: 800;
}

.more-news-item-2:hover{
    filter: brightness(1.1);
}
.more-news-item-2{
    transition: filter var(--time);
    padding: 0px !important;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.more-news-item-2 
.more-news-item-title{
    padding: 0px 0px !important;
}
.more-news-item-2 a,
.more-news-item-2 p{
    width: 100%;
    color: #fff !important;
    margin: 0px ;
    padding: 5px 10px  ;
    display: flex;
    background-color: rgba(0, 0, 0, 0.596);
}
.more-news-item{
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: 20px 0px;
    background-color: #fff;
    margin: 20px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}

.more-news-item-title{
    padding: 5px 0px;
}
.more-news-item-title p{
    font-family: "Lora", serif;
    color:rgb(20, 20, 20) ;
}
.more-news-item:hover > .more-news-item-title{
    text-decoration: underline;
}
.more-news-item-info{
    color: rgb(49, 49, 49);
    font-size: .8em;
}


.volver-btn{
    padding: 10px 30px;
}
.volver-btn a{
        color: rgb(20, 20, 20);       
        padding: 5px;
        transition: color var(--time);
}
.volver-btn a:hover{
    color: var(--w-hover-color);
}
/* new end */



/* footer */
.footer-bg{
    background-image: url(/antwork/public/images/index/footer.svg);
    background-position: bottom;
    background-size: cover;
    height: 130px;
    width: 100%;
    display: flex;
}
.footer {
    background-color: #222231; 
    display: flex;
    flex-direction: column;
    padding: 70px 80px;
}

.footer-links-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff6b;
    padding: 40px 0px;
}
.footer-links{
}
.footer-links-title{
    color: #fff;
    padding: 10px 0px;
}
.footer-links-a{
    padding: 5px 0px;
}
.footer-links-a a{
    color: #ffffff6b;
    transition: all var(--time);
}

.footer-links-a a:hover{
    text-decoration: underline;
}

.footer-info-container {
    padding: 30px 0px;
}

.footer-social{
    padding-bottom: 30px;
}
.footer-social-ul{
    display: flex;
}
.footer-social-li{
    padding: 0px 10px;
}
.footer-social-li a{
    transition: all var(--time);
    color: #ffffff6b;
    font-size: 1.8em;
}
.footer-social-li a:hover{
    color: #fff;
}
.copyright-p-dev{
    font-size: 1.3em;
    padding-top: 20px;
    font-weight: 600;
    color: #ffffff88;
}

.copyright-p-dev a{
    color: rgb(255, 255, 255);
    transition: all var(--time);
    text-decoration: underline;
    padding: 0px 5px;
    width: max-content !important;
}
.copyright-p-dev a:hover{
    color: #aacfff;
    letter-spacing: 1px;
}

.copyright-p{
    color: #ffffff6b;
}

.copyright-p a{
    color: #ffffff6b;
    text-decoration: underline;
    transition: all var(--time);

}

.copyright-p a:hover{
    color: #fff;
}
/* footer end */






/* wwu */
.cv-label{
    text-align: center !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgb(34, 120, 233) !important;
    color: #fff !important;
    border: 1px solid rgb(34, 120, 233) !important;
    font-size: 1em !important;
    padding: 30px;
    cursor: pointer !important;
    margin: 5px 0px !important;
    font-weight: 600 !important;
    transition: all var(--time) !important;
    height: 40px !important;
    cursor: pointer !important;
}

.cv-label:hover{
    background-color: transparent !important;
    color: rgb(34, 120, 233) !important;
}

.cv-label span{
    padding-left: 5px;
}
.loading-msg {
    display: inline-block;
    border: 4px solid #f3f3f3; /* color del borde del indicador de carga */
    border-top: 4px solid #3498db; /* color del borde superior del indicador de carga */
    border-radius: 50%; /* para crear un círculo */
    width: 24px; /* ancho del indicador de carga */
    height: 24px; /* altura del indicador de carga */
    animation: spin 1s linear infinite; /* animación de giro */
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* el indicador de carga comienza en 0 grados */
    100% { transform: rotate(360deg); } /* el indicador de carga completa una vuelta completa (360 grados) */
}

.wwu-img{
    width: 250px !important;
}

/* wwu end */


/* contact */
.contact-info{
    background-image: url(/antwork/public/images/index/wwu_bg.svg);
    background-size: cover;
    background-position: top;
    padding: 20px 140px;
    padding-bottom: 100px;
}
.contact-info-map{
    width:100%;
}
.contact-info-p{
    color: var(--ni-info-color);
    font-size: 1.4em;
    font-weight: 500;
}


.contact-info-a{
    display: block;
    width: max-content;
    margin: 10px 0px;
    color: var(--ni-info-color);
    font-size: 1.4em;
    font-weight: 500;
}
.contact-info-a:hover{
    text-decoration: underline;
    color: rgb(31, 31, 31);
}

.contact-info-title{
    color: var(--title-color);
    font-weight: 600;
    font-size: 2.5em;
    padding-top: 20px;
}

.contact-form{
    opacity: 0;
    transform: translateY(50px); /* Desplaza hacia abajo inicialmente */
    transition: opacity var(--time) ease, transform 1s ease;
  }
  
  .contact-form.show {
    opacity: 1;
    transform: translateY(0); /* Sin desplazamiento vertical */
  }
  

.contact-form-container{
    display: none;
    width: 100%;
    padding: 40px 30px;
    background-color: rgb(243, 243, 243);
}
.contact-form-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form-img img{
    width: 70%;
    height: 100%;
    object-fit: cover;
}
.contact-form{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}
.contact-form-title{
    color: rgb(20, 20, 20);
    font-size: 2.2em;
    padding: 10px 0px;
    font-weight: 900;    
}
.contact-form-info{
    padding-bottom: 10px;
    color:rgba(20, 20, 20, 0.842);
}
.contact-form input,
.contact-form textarea{
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 5px 10px;
    margin: 5px 0px;
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 10px;
}
.contact-form textarea:focus,
.contact-form input:focus{
    border-color: rgb(76, 247, 84);
    background-color: rgba(43, 255, 0, 0.014);
}
.contact-form button{
    background-color: var(--btn-bg-color);
    color: #fff;
    border: 1px solid var(--btn-bg-color);
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px 0px;
    transition: all var(--time);
    font-weight: 600;
    height: 40px;
}

.contact-form button:hover{
    background-color: transparent;
    color: var(--btn-bg-color);
}

.contact-form textarea{
    resize: none;
    height: 100px;
}
.loading-msg {
    display: inline-block;
    border: 4px solid #f3f3f3; /* color del borde del indicador de carga */
    border-top: 4px solid #3498db; /* color del borde superior del indicador de carga */
    border-radius: 50%; /* para crear un círculo */
    width: 24px; /* ancho del indicador de carga */
    height: 24px; /* altura del indicador de carga */
    animation: spin 1s linear infinite; /* animación de giro */
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* el indicador de carga comienza en 0 grados */
    100% { transform: rotate(360deg); } /* el indicador de carga completa una vuelta completa (360 grados) */
}
/* contact end */


/* mision y .vision */

.vision-container{
    background-color: #222231;

}

.mission{
    background: linear-gradient(#111118 10%, #222231 90%);
    height: 400px;
    color: #fff;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mission .more-info{
    color: #ffffff6b;
    width: 80vw;
}

.vision .more-info i,
.mission .more-info i{
    font-size: 2em;
    padding: 0 10px;
}

.mission h3{
    color: #fff;
}




.vision{
    background-color: var(--bg);
    border-radius: 200px 0px 0px 0px;
    height: 400px;
    padding: 200px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.vision p{
    width: 80vw;
    color: var(--ni-info-color);
}

/* mision y .vision end*/




/* infop text2 start*/
.info-text-2{
    /* box-shadow: inset 0 0 50px -8px rgba(0, 0, 0, 0.3), inset 0 0 100px -8px rgba(0, 0, 0, 0.3); */
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1b25;
}

.info-text-2 h3{
    font-weight: 600;
    color: rgb(167, 167, 167);
}
.info-text-2 h2{
    text-transform: none;
    font-weight: 700;
    font-size: 3em;
    color: rgb(255, 255, 255);
    width: 90%;
    margin: 40px 0px;
}
.info-text-2 strong{
    color: #ffffffea;
    font-size: 1.2em;
}

.info-text-2 span{
    box-shadow: inset 0 -.7em 0 0 #773737;
}
.info-text-2 a{
    display: flex;
    font-weight: 600;
    font-size: 1em;
    width: max-content;
    padding: 15px 30px;
    text-transform: capitalize  ;
    border-radius: 25px;
    transition: all var(--time);
    background: rgb(213,45,44);
    background: -moz-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: -webkit-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    background: linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52d2c",endColorstr="#f65654",GradientType=1);
    color: #fff;
}


.info-text-2 a:hover{
    filter: brightness(1.1);
    transform: scale(1.05);

}
/* infop text 2 end */



/* contact modal */

.contact{
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    background-color: #fff4ea;
    padding: 50px 140px;
    height: max-content;
    left: 0px;
    color: var(--ni-info-color);
    z-index: 3010312123123;
    transition: all .4s, opacity .7s;

        
    .flex{
        display: flex;
        justify-content: space-between;
        gap: 60px;

        .text{
            max-width: 500px;
            
            h2{
                font-size: 3em;
                font-weight: 500;
                color: var(--btn-bg-color);
            }
            img{
                width: 150px;
            }
            h3{
                color: var(--title-color) !important;
            }
    
            #description{
                color: var(--ni-info-color);
                font-size: 1.6em;
                font-weight: 700;
            }
            p{
            padding-top: 20px;
            font-size: 1.2em;
            }
        }

        
        .form{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: max-content;
            padding: 10px;
            
            .label{
                background-color: transparent;
                transform: translateY(30px);
                transition: all var(--time);
                width: max-content;
                height: 23px !important;
                cursor: text;
                color: rgb(160, 160, 160) !important;
            
            }
            
            
            .label::before{
                content: '*';
                font-size: .8em;
                padding: 2px;
                color: rgba(255, 0, 0, 0.747);
            }
                        
            input:focus,
            textarea:focus{
                border-color: #0056b3;
            }
            input{
                margin-bottom: 20px;
                transition: all var(--timex);
                height: 50px;
                color: var(--ni-info-color) ;
                background-color: transparent;
                border: none;
                transition: all var(--time);
                outline: none;
                border-bottom: 2px solid rgb(160, 160, 160);
            }

            textarea{
                margin-bottom: 20px;
                height: 150px;
                color: var(--ni-info-color);
                resize: none;
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid rgb(160, 160, 160);
                transition: all var(--time);
            }

            button{
                background-color: var(--btn-bg-color);
                padding: 10px;
                color: #fff;
                font-size: 1em;
                cursor: pointer;
                font-weight: 600;
                border-radius: 40px;
                border: 1px solid var(--btn-bg-color);
                transition: all var(--time);
            }

            button:hover{
                background-color: transparent;
                color: var(--btn-bg-color);
            }

            .msg-p{
                color: var(--ni-info-color);
                padding-top: 10px;
                font-size: 1.1em;
            }
        }
    }
}

/* contact modal end */



/* infop text 3 start*/
.info-text-3{
    padding: 0px 0px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

        
    h3{
        font-weight: 600;
        color: rgb(116, 116, 116);
    }
    h2{
        text-transform: none;
        font-weight: 700;
        font-size: 3em;
        color: var(--title-color);
        width: 90%;
        margin: 40px 0px;
    }
    span{
        box-shadow: inset 0 -.7em 0 0 #ff8f8f;
    }
    a{
        display: flex;
        font-weight: 600;
        font-size: 1em;
        width: max-content;
        padding: 15px 30px;
        text-transform: capitalize  ;
        border-radius: 25px;
        transition: all var(--time);
        background: rgb(213,45,44);
        background: -moz-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
        background: -webkit-linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
        background: linear-gradient(56deg, rgba(213,45,44,1) 0%, rgba(246,86,84,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d52d2c",endColorstr="#f65654",GradientType=1);
        color: #fff;
    }


    a:hover{
        filter: brightness(1.1);
        transform: scale(1.05);

    }
}
/* infop text 3 end */







