@media only screen and (max-width: 540px) {
    .location-msg{
        padding: 0px 10px;
    }


    /* header */
    .header{
        padding: 10px;
    }
    /* headerend */


    /* hero */
    .hero-container{
        padding: 40px 10px;
        padding-top: 100px;
        flex-direction: column;
        align-items: end;

        .hero-img{
            width: 200px;
        }
    }
    /* hero end */


    /* about */
    .about-container{
        flex-direction: column;
        padding: 50px 10px;
        padding-top: 140px;

        .about-img{
            display: flex;
            width: 100%;
            justify-content: end;
            position: relative;
            img{
                width: 100px;
                position: absolute;
                bottom: -50px;
                right: -10px;
                transform:rotate(-30deg) scaleX(-1);
            }
        }

        .about-text{
            padding-bottom: 0px;
            gap: 5px;
            .about-title{
                font-size: 35px;
                line-height: 35px;
            }
        }
    }

    /* page */
    .about-history{
        padding: 60px 10px;
        flex-direction: column;
        .text{
            width: 100%;
            max-width: unset;

            .title{
                font-size: 25px;
            }
            .info{
                font-size: 15px;
            }
        }

        .img{
            width: 100%;
            max-width: unset;
        }
    }

    .mv-container{
        padding: 30px 10px;

        .mv{
            flex-direction: column;
            justify-content: center;
            .item{
                width: 100%;
            }
        }
    }


    /* about end */


    /* services */
    .services-container{
        flex-direction: column;
        padding: 30px 10px;
        padding-bottom: 300px;

        .services-img{
            width: 100%;
            display: flex;
            justify-content: end;

            img{
                width: 200px;
            }
        }

        .services-text{
            .services-title{
                text-align: center;
                font-size: 35px;
            }
            .services{
                gap: 30px;
                .service{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
    /* services end */


    /* info text 2 */
    .info-text-2{
        padding: 20px 10px;

        h3{
            font-size: 10px;
        }

        h2{
            margin: 20px 0px;
        }
    }
    /* info text 2 end */


    /* qualities */
    .qualities-container{
        flex-direction: column;
        padding: 100px 10px;
        padding-top: 400px;

        .container-text{
            text-align: center;
            .qualities{
                gap: 30px;
                
                .qualitie{
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .container-imgs{
            width: 100%;
            align-items: end;
            img{
                width: 200px;
            }
                    
            img:first-child{
                display: none;
            }

        }
    }

    /* qualities end */


    /* contact */
    .contact{
        padding: 50px 10px;

        .content{

            .flex{
                flex-direction: column;

                .form{
                    width: 100%;
                    padding: 10px 0px;
                }
            }
        }
        
    }
    /* contact end */

    /* news ads */
   .news-ads{
    flex-direction: column;
    padding: 50px 10px;
    padding-top: 140px;

        .img{
            display: flex;
            width: 100%;
            justify-content: end;
            position: relative;
            img{
                width: 120px;
                position: absolute;
                bottom: -50px;
                transform:rotate(-30deg);
            }
        }

        .text{
            padding-bottom: 0px;
            gap: 5px;
            .about-title{
                font-size: 35px;
                line-height: 35px;
            }
        }
    }
    /* news ads end*/


    /* .frequent_questions */
    .frequent_questions-box{
        padding: 0px 10px;
        .text{
            .fq-header{
                flex-direction: column;

                .img{
                    width: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: end;
                    img{
                        width: 140px;
                    }
                }
            }
        }
    }
    /* .frequent_questions end */


    /* news */
    .news-header{
        padding: 0px 10px;
        padding-top: 20px;
        flex-direction: column;
        align-items: start;
    }

    .news-search-container{
        order: -1;
        width: 100%;
        height: 50px;
    }

    .news-search-container .search-input{
        height: 100%;
        font-size: 1.2em;
    }
    .news-search-container .search-btn{
        width: 70px;
    }
    .news-search-container .search-btn span{
        font-size: 2em;
    }


    .search-results-p{
        padding: 10px 10px;
    }
    .filter-container{
        padding: 0px 10px;
    }
    .normal-title{
        padding: 10px 10px;
    }
    .more-info{
        padding: 0px 20px;

    }
    .news-container {
        padding: 10px;
    }

    .news-item {
        flex-direction: row;
        position: relative;
        justify-content: start;
        align-items: center;
        background-color: transparent;
        max-width:11110px; /* Ancho máximo para evitar que se bugee */
        width: 100%; /* Toma el ancho máximo permitido */
        padding: 10px 0px;
        height: max-content !important;
        margin: 10px 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.082);
    }
    .news-img{
        max-width: 140px !important;
        height: 80px;
    }

    .news-title {
        width: 100%;
        font-size: 1em;
        padding: 10px;
        margin: 0px;
        margin-bottom: 15px;
    }
    .news-content {
        display: none;
    }
    .news-info {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: .8em;
        color: var(--info-color);
        margin-top: auto; /* Coloca este elemento siempre al final */
    }

    .read-more {
        display: inline-block;
        background-color: #007bff;
        color: #fff;
        padding: 8px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .read-more:hover {
        background-color: #0056b3;
    }

    /* news end */


    /* new */
    .new-container{
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
    }
    .new-item{
        width: 100%;
        padding: 0px 10px;
    }

    .new-title{
        font-size: 1.5em;
    }

    .more-news{
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 20px 10px;
    }

    .more-news-item{
        max-width: 1000px !important;
    }
    /* new end */


    /* .wwu */
    .wwu-form-container{
        padding: 60px 0px;
    }
    .wwu-form{
        padding: 10px;
        width: 100%;
        margin: 0px;
    }

    .wwu-form-title{
        font-size: 1.8em;
    }
    /* .wwu end */




    

    /* infop text start*/
    .info-text{
        padding: 40px 0px;
    }
    .info-text p{
        width: 98%;
        padding: 10px;
    }

    .info-text h2{
        font-size: 1.6em;
        padding: 10px;
    }
    /* infop text end */


    /* info text 3 */
    .info-text-3{
        padding-top: 200px;
    }
    .info-text-3 h3{
        font-size: 1em;
        padding: 0px 10px;
    }
    .info-text-3 h2{
        width: 100%;
        padding: 0px 10px;
        font-size: 2em;
    }
    /* info text 3 end*/


}
