@media only screen and (max-width: 540px) {
    /* Estilos para teléfono celular */

    /* HOME */
    .hero-swiper{
        padding: 0px;
        height: 90vh;
    }
    .hero-swiper-slide-content{
        padding: 0px;
    }
    .hero-swiper-slide-title{
        font-size: 2.3em ;
    }
    /* HOME  END*/

    /* .frequent_questions */
    .frequent_questions{

    }
    .frequent_questions-img{
        display: none;
    }

    .frequent_questions-text{
        width: 100%;
        padding: 20px 10px;
    }
    /* .frequent_questions end */


/* news */
.normal-title{
    padding: 10px 20px;
}
.news-container {
    padding: 10px;
}

.news-item {
    max-width:11110px; /* Ancho máximo para evitar que se bugee */
    width: 100%; /* Toma el ancho máximo permitido */
    padding: 10px 5px;
}
.news-img{
    width: 100%;
    height: 250px;
}

.news-title {
    font-size: 1.4em;
    margin: 4px 0px;
}
.news-content {
    font-size: 1em;
    color: #555;
    line-height: 1.4;
    margin-bottom: 15px;
}
.news-info {
    font-size: .8em;
    color: var(--info-color);
    margin-top: auto; /* Coloca este elemento siempre al final */
}

.read-more {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #0056b3;
}

/* news end */


/* new */
.new-container{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
}
.new-item{
    width: 100%;
    padding: 0px 5px;
}

.new-title{
    font-size: 1.5em;
}
.new-img{
}
.new-content{
}   
.new-info{
}


.more-news{
    width: 100%;
    padding: 20px 5px;
}
.more-news-title{
}

.more-news-item{
}

.more-news-item-title{
}
.more-news-item-title a{
}
.more-news-item-title a:hover{
}
.more-news-item-info{
}
/* new end */





}
