@media only screen and (max-width: 1114px) {
    .location-msg{
        padding: 0px 30px;
    }

    /* header start */
    .header{
        position: fixed;
        padding: 10px 30px;
        height: 70px;
        align-items: start  ;
    }
        
    #header.header-full-height{
        height: 100vh !important;
    }
    #header.active{
        background-color: rgba(0, 0, 0, 0.644) !important;
        top: 0px;
        position: fixed;
    }

    .header-actions{
        display: flex;
        position: fixed;
        opacity: 0;
        bottom: -1000px;
        right: -1000px;
        transition: bottom .5s;
    }

    .header-links{
        opacity: 0;
        display: flex;
        position:absolute;
        flex-direction: column;
        top: 70px;
        left: -100px;
        width: 100%;
        height: 0% ;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }

    .header-links-open ~ .header-actions{
        display: flex !important;
        bottom: 10px;
        right: 10px;
        opacity: 1;
    }
    .header-links-open{
        left: 0px;
        top: 70px;
        z-index: -1;
        opacity: 1;
        height: 100vh;
    }
    .header-links-a{
        margin: 10px 30px;
        font-size: 1.3em;
        width: max-content;
        transition: all var(--time);
    }
    .header-btns{
        display: flex;
    }
    .header-btns-close span,
    .header-btns-bars span{
        font-size: 3em;

        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24 !important    
    }
    .header-btns-bars,
    .header-btns-close{
        background-color: transparent;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        color: #fff;
    }

    .header-btns-bars span,
    .header-btns-close span{
        font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24
    }
    
    .header-btns-bars:hover,
    .header-btns-close:hover{
        color: rgba(255, 255, 255, 0.411);
        transition: color var(--time);
    }

    .header-btns-hiden{
        display: none;
    }

    /* header end */

        
    /* hero */
    
    .hero-swiper {
        width: 100%;
        height: 702px;
    }
    .hero-swiper-slide-content{
        padding: 40px 30px;
        justify-content: center;
    }
    .hero-swiper-slide{
        width: 100%;
        height: 100%;
    }
    .hero-swiper-slide-title{
        font-size: 4em;
        width: 100%;
        font-weight: 500;
        line-height: 58px;
        padding-bottom: 10px;
    }
    .hero-swiper-slide-sub-title{
        width: 100%;
        font-size: 1.5em;
    }

    .hero-swiper-slide-info{
        line-height: 32px;
        width: 100%;
        font-size: 1.5em;
    } 
    /* hero end */


    
    /* .home-qualities start */
    .home-qualities{
        padding: 0px;
    }
    .home-qualities-qualitie{
        flex-direction: column;
        margin: 25px 0px;
        padding: 0px;
    }
    .home-qualities-qualitie-img{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

    .home-qualities-qualitie-text{
        text-align: center;
        padding: 0px 30px;
    }
    /* .home-qualities end */



    /* frequent_questions */
    .frequent_questions-text-title{
        width: 89%;
    }
    .frequent_questions-text{
        width: 100%;
        padding: 10px 0px;
    }
    .frequent_questions-box{
        padding:30px;
        position: relative;
    }
    .frequent_questions-img img{
        width: 120px;
        height: auto;
    }

    .frequent_questions-img {
        position: absolute;
        top: 0px;
        right: 30px;
        width: max-content;
        animation: float 4s ease-in-out infinite; /* Aplica la animación llamada "float" */
      }
      
      @keyframes float {
        0% {
          transform: translateY(0); /* Inicia sin transformación */
        }
        50% {
          transform: translateY(-20px); /* Levanta 20px en la mitad de la animación */
        }
        100% {
          transform: translateY(0); /* Vuelve a la posición original al final */
        }
      }
      
    /* frequent_questions end */
    








        
    /* new */
        
    .news-header{
        padding: 0px 30px;
    }
    .search-results-p{
        padding: 10px 30px;
    }
    .normal-title{
        padding: 10px 30px;
    }
    .filter-container{
        padding: 20px 30px;
    }
    .news-container{
        padding: 0px 30px;
    }
    .new-container{
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
    }
    .new-item{
        width: 100%;
        padding: 0px 20px;
    }

    .new-title{
        font-size: 2em;
    }

    .more-news{
        width: 100%;
        background-color: #fff;
    }
    .more-news-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
    .more-news-item-r{
        max-width: 100% !important;
    }
    .more-news-item{
        max-width: 240px;
        width: 100%;
    }

    /* new end */






    /* wwu */
    .wwu-form-container{
        padding: 60px 10px;
        flex-direction: column;
        align-items: center;
    }
    .wwu-form{
        padding: 40px;
        width: 100%;
    }
    .wwu-form-img{
        display: none;
    }
    /* wwu end */



    /* contact */
    .contact-form-container{
        padding: 60px 0px;
        flex-direction: column;
        align-items: center;
    }
    .contact-form{
        padding: 40px 30px;
        width: 100%;
    }
    .contact-form-img{
        display: none;
    }
    /* contact end */



    /* services */
    .services-container{
        display: flex;
        padding: 30px 0px;
    }

    .services{
        display: flex;
        padding: 0px 10px;
    }
    .services-title{
        font-size: 2em;
    }

    .service-item{
        flex-direction: column;
        display: flex;
        text-align: center  ;

        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    /* services endd */



    /* footer*/
    .footer{
        padding: 40px 10px;
    }
    .footer-links-container{
        flex-direction: column;
    }
    .footer-links{
        padding: 20px 0px;
    }
    /* footer end */


    /* about */
    .about-page-text{
        padding: 10px 30px;
        box-sizing: content-box;
        padding-bottom: 30px;
    }

    .about-container{
        display: flex;
        padding: 40px 0px;
    }
    .about-img img{
        width: 120px;
        height: auto;
        transform: scaleX(-1); /* Voltea la imagen horizontalmente */
    }

    .about-img {
        z-index: 300;
        position: absolute;
        top: 60px;
        right: 30px;
        width: max-content;
        animation: float 4s ease-in-out infinite; /* Aplica la animación llamada "float" */
      }
      
    .about-text{
        width: 100%;
    padding: 30px;
    }
    .about-title{
        width: 80%;
    }

    .about-page-img{
        display: flex;
        padding: 0px 20px;
    }
    .about-page-img img{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }


    /* services modal */
        
    .services-modal-content{
        padding: 40px 20px;
    }

    .services-modal-title{
        font-size: 2.3em;
    }
    /* services modal end */


    /* contact modal */

    .contact-modal-flex{
        flex-direction: column;
        padding: 10px 30px;
    }

    .contact-modal-flex-text{
        width: 100%;
    }
    .contact-modal-flex-form{
        width: 100%;
        padding: 0px;
        padding-top: 30px;
    }



    
    .contact-info{
        padding: 20px 30px;
    }
        
    .contact-info-map{
        width:100%;
    }
    .contact-info-p{
        font-size: 1.2em;
    }
    .contact-info-a{
        font-size: 1.2em;
    }
    .contact-info-title{
        font-size: 2em;
    }


    
    /* contact modal end */

}
