@media only screen and (max-width: 1114px) {
    .location-msg{
        padding: 0px 30px;
    }

    /* header start */
    .header{
        padding: 10px 30px;
        height: 70px;
        position: sticky;
        top: 0px;
        align-items: start  ;
    }
        
    #header.header-full-height{
        height: 100vh !important;
    }
    #header.active{
        height: 70px;
        top: 0px;
        position: fixed;
    }

    .header-actions{
        display: flex;
        position: fixed;
        opacity: 0;
        bottom: -1000px;
        right: -1000px;
        transition: bottom .5s;
    }

    .header-links{
        opacity: 0;
        display: flex;
        position:absolute;
        flex-direction: column;
        top: 70px;
        left: -100px;
        width: 100%;
        height: 0% ;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }

    .header-links-open ~ .header-actions{
        display: flex !important;
        bottom: 10px;
        right: 10px;
        opacity: 1;
    }
    .header-links-open{
        left: 0px;
        top: 70px;
        z-index: -1;
        opacity: 1;
        height: 100vh;
    }
    .header-links-a{
        margin: 10px 30px;
        font-size: 1.3em;
        width: max-content;
        transition: all var(--time);
    }
    .header-btns{
        display: flex;
    }
    .header-btns-close span,
    .header-btns-bars span{
        font-size: 3em;
        color: #2c2c2c;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24 !important    
    }
    .header-btns-bars,
    .header-btns-close{
        background-color: transparent;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        color: #2c2c2c;
    }

    .header-btns-bars span,
    .header-btns-close span{
        font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 24
    }
    
    .header-btns-bars:hover,
    .header-btns-close:hover{
        color: rgba(255, 255, 255, 0.411);
        transition: color var(--time);
    }

    .header-btns-hiden{
        display: none;
    }

    /* header end */

        
    /* hero */
    .hero-container{
        padding: 20px 30px;
        padding-bottom: 100px;

        .hero-img{
            width: 400px;
            max-width: unset;
        }
        .hero-text{
            width: 100%;
            max-width: unset;

            .hero-title{
                line-height: 45px;
                font-size: 45px;
            }

            .hero-sub-title{
                font-size: 20px;
            }

            .hero-info{
                font-size: 17px;
            }

            .hero-link{
                font-size: 17px;
                padding: 10px 20px;
            }
        }
    }
    /* hero end */


    /* info text */
    .info-text{
        padding: 0px 30px;

        p{
            width: 100%;
        }
    }
    /* info text end */



    /* about */
    .about-container{
        padding: 110px 30px;

        .about-img{
            max-width: unset;
            width: 200px;
            padding: 0px 20px;
        }


        .about-text{
            width: 100%;
            max-width: unset;

            .about-title{
                font-size: 35px;
            }

            .about-sub-title{
                font-size: 20px;
            }

            .about-info{
                font-size: 17px;
            }
        }
    }



    /* page */
    .about-history{
        padding: 20px 30px;

        .text{
            width: 100%;
            max-width: unset;

            .title{
                font-size: 25px;
            }
            .info{
                font-size: 15px;
            }
        }

        .img{
            width: 500px;
            max-width: unset;
        }
    }

    .mv-container{
        padding: 30px 30px;

        .title{
            font-size: 25px;
        }

        .sub-title{
            font-size: 15px;
        }

        .mv{
            justify-content: center;
            .item{
                width: 400px;

                .text{
                    .title{
                        font-size: 20px;
                    }

                    .info{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    /* about end */



    /* services */
    .services-container{
        padding: 0px 30px;
        padding-bottom: 300px;

        .services-text{
            width: 100%;
            max-width: unset;

            .services{

                .service{   
                    .service-title{
                        font-size: 20px;
                    }
                    .service-info{
                        font-size: 17px;
                    }

                    .service-icon{
                        width: max-content;
                        span{
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        .services-img{
            display: flex;
            align-items: end;
            max-width: unset;
            width: 300px;
        }
    }
    /* servicese end */


    /* info-text 2 */
    .info-text-2{
        padding: 100px 30px;

        h3{
            font-size: 15px;
        }
        h2{
            font-size: 35px;
        }
    }
    /* info-text 2 end */



    /* qualities */
    .qualities-container{
        padding: 100px 30px;
        padding-top: 350px;
        
        .container-text{
            max-width: unset;
            width: 100%;

            .qualities{
                .qualitie{
                    .icon{
                        width: max-content;
                        span{
                            font-size: 50px;
                        }   
                    }

                    .text{
                        .title{
                            font-size: 20px;
                        }
                        .info{
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        .container-imgs{
            max-width: unset;
            width: 300px;
            justify-content: end;

        }
    }
    /* qualities end */


    /* contact */
    .contact{
        padding: 50px 30px;

        .flex{
            gap: 10px;
            .text{
                max-width: unset;
                width: 100%;

                img{
                    width: 80px;
                }
                #description{
                    font-size: 20px;
                }
                p{
                    font-size: 17px;
                }
                h2{
                    font-size: 35px;
                }
            }

            .form{
                width: 800px;
            }

        }
    }
    /* contact end */


    /* about */
    .news-ads{
        padding: 110px 30px;

        .img{
            max-width: unset;
            width: 250px;
            padding: 0px 20px;
        }


        .text{
            width: 100%;
            max-width: unset;

            .title{
                font-size: 35px;
            }

            .sub-title{
                font-size: 20px;
            }

            .info{
                font-size: 17px;
            }
        }
    }
    /* about end */


    /* info-text 2 */
    .info-text-3{
        padding: 100px 30px;
        padding-bottom: 50px;

        h3{
            font-size: 15px;
        }
        h2{
            font-size: 35px;
        }
    }
    /* info-text 2 end */


    /* frequent-questions */

    .frequent_questions-box{
        padding: 30px;

        .text{

            .fq-header{
                .img{
                    width: 200px;
                    max-width: unset;
                }

                .desc{
                    width: 100%;
                    .title{
                        font-size: 35px;
                    }
                }
            }
        }
    }
    /* frequent-questions end */








        
    /* new */
        
    .news-header{
        padding: 0px 30px;
    }
    .search-results-p{
        padding: 10px 30px;
    }
    .normal-title{
        padding: 10px 30px;
    }
    .filter-container{
        padding: 20px 30px;
    }
    .news-container{
        padding: 0px 30px;
    }
    .new-container{
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
    }
    .new-item{
        width: 100%;
        padding: 0px 20px;
    }

    .new-title{
        font-size: 2em;
    }

    .more-news{
        width: 100%;
        background-color: #fff;
    }
    .more-news-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
    .more-news-item-r{
        max-width: 100% !important;
    }
    .more-news-item{
        max-width: 240px;
        width: 100%;
    }

    /* new end */






    /* wwu */
    .wwu-form-container{
        padding: 60px 10px;
        flex-direction: column;
        align-items: center;
    }
    .wwu-form{
        padding: 40px;
        width: 100%;
    }
    .wwu-form-img{
        display: none;
    }
    /* wwu end */


    /* footer*/
    .footer{
        padding: 40px 30px;
    }
    .footer-links-container{
        flex-direction: column;
    }
    .footer-links{
        padding: 20px 0px;
    }
    /* footer end */

    

    /* contact modal */

    .contact-modal-flex{
        flex-direction: column;
        padding: 10px 30px;
    }

    .contact-modal-flex-text{
        width: 100%;
    }
    .contact-modal-flex-form{
        width: 100%;
        padding: 0px;
        padding-top: 30px;
    }



    
    .contact-info{
        padding: 20px 30px;
    }
        
    .contact-info-map{
        width:100%;
    }
    .contact-info-p{
        font-size: 1.2em;
    }
    .contact-info-a{
        font-size: 1.2em;
    }
    .contact-info-title{
        font-size: 2em;
    }


    
    /* contact modal end */

}
